.expertiseDiv {
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.expertiseText {
    font-size: 50px;
    margin-bottom: 10vh;
    font-family: Omnes;
    word-spacing: 10px;
    color: white;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    width: 80vw;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 35px;
    min-width: 30%;
    width: calc(100% - 70px);
}

@media (max-width: 768px) {
    .card-section {
        grid-template-columns: 1fr; 
        justify-content: center; 
    }
    .card {
        width: calc(100% - 70px);
        margin: 0 auto; 
    }
}

.card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.card-top-icon {
    height: 40px;
    width: 40px;
}

.card-top-title {
    font-family: Omnes light;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.card-bottom {
    margin-top: 3vh;
}

.card-bottom-tag::before {
    content: '<h3>';
    font-family: Omnes light;
    width: 15px;
    height: 15px;
    color: rgb(179, 179, 179);
}

.card-bottom-description {
    transform: translateX(15px);
    padding: 10px;
    border-left: 2px solid rgba(128, 128, 128, 0.404);
    margin: 10px 0px;
    font-size: medium;
    font-family: Omnes light italic;
}

.card-bottom-endTag::before {
    content: '</h3>';
    font-family: Omnes light;
    width: 15px;
    height: 15px;
    color: rgb(179, 179, 179);
}

.view-all-card-section-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.view-all-card-section-btn{
  background: transparent;
  border: 3px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Omnes light;
  transition: all 0.3s ease;
  margin-top: 10px;
  font-size: medium;
}

.view-all-card-section-btn:hover {
  background: white;
  color: black;
}