.expertiseDiv {
    min-height: 100vh;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}

.expertiseText {
    font-size: 50px;
    margin-bottom: 10vh;
    font-family: Omnes;
    word-spacing: 10px;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    width: 80vw;
    justify-items: center;
}

.card {
    background-color: black;
    padding: 35px;
    border-radius: 10px;
    min-width: 30%;
    width: calc(100% - 70px);
    transform: translateX(-10px);
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.card-top-icon {
    height: 40px;
    width: 40px;
}

.card-top-title {
    font-family: Omnes light;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.card-bottom {
    margin-top: 3vh;
}

.card-bottom-tag::before {
    content: '<h3>';
    font-family: Omnes light;
    width: 15px;
    height: 15px;
    color: rgba(128, 128, 128, 0.404);
}

.card-bottom-description {
    transform: translateX(15px);
    padding: 10px;
    border-left: 2px solid rgba(128, 128, 128, 0.404);
    margin: 10px 0px;
    font-size: medium;
    font-family: Omnes light italic;
}

.card-bottom-endTag::before {
    content: '</h3>';
    font-family: Omnes light;
    width: 15px;
    height: 15px;
    color: rgba(128, 128, 128, 0.404);
}