.contact-me-input{
    background-color: rgb(24, 24, 24);
    padding: 15px;
    border: none;
    color: white;
    margin-bottom: 20px;
    font-family: Omnes elight;
    font-size: medium;
}

.contact-me-input:focus{
    outline: none;
}

.contact-me-label{
    padding: 0px;
    margin: 0px;
    line-height: 1.7;
    margin-left: 5px;
}

.contact-me-label::after{
    content: '*';
    color: red;
}

.contact-me-send-btn{
    color: black;
    background-color: white;
    font-family: Omnes;
    padding: 10px;
    font-size: large;
}

.contact-me-send-btn:hover{
    color: black;
    background-color: rgb(218, 218, 218);
}