@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    flex-direction: column;
    background-color: #0d0d0d;
    position: relative;
    background-image: radial-gradient(#3a3a3a 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

@font-face {
    font-family: Omnes;
    src: url('./fonts/Omnes\ Black.ttf');
}